.profile {
  margin: 0 auto 30px auto;
  padding-top: 30px;
  width: 300px;
  background-color: #fff;
  border: 2px solid #cfd8e0;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 3px 10px 0px #68696980;
}

.description {
  margin-bottom: 30px;
}

.avatar {
  margin-bottom: 20px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: #dae8e9;
}

.name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.tag {
  margin-bottom: 15px;
  color: #a7a7a7;
  font-weight: 500;
}

.location {
  color: #a7a7a7;
  font-weight: 500;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: #e2eaee;
  border-top: 2px solid #cfd8e0;
}

.stats li {
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100% / 3);
}

.stats li + li {
  border-left: 2px solid #cfd8e0;
}

.label {
  margin-bottom: 5px;
  display: block;
  color: #a7a7a7;
  font-weight: 500;
  text-align: center;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
